body{
    background-color: #202020;
    font-family: Arial, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
}

.gameSelection{
    padding: 5px;
    margin: 5px;
}

div{
    text-align: center;
}

button{
    background-image: linear-gradient(#50AAC8, rgb(43, 105, 129));
    border: none;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

#header{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #3A3A3A;
    background-image: linear-gradient(#1C2A3C,#202020);
}

input[type=text]{
    background-color: #3a3a3a;
    border: none;
    height: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.idbox{
    width: 400px;
}

.profilebox{
    width: 360px;
}

.infoTag{
    text-align: left;
    margin-left: 10vw;
}

.indent{
    text-align: left;
    margin-left: 15vw;
}